# 忽略 .dockerignore 文件本身
.dockerignore

# 忽略 Git 相关文件和目录
.git
.gitignore

# 忽略日志文件和临时文件
*.log
*.tmp

# 忽略编辑器和操作系统生成的文件
.DS_Store
Thumbs.db

# 忽略其他不必要的文件和目录
.vscode
.idea
node_modules
dist

# SUROY
/assets